/* ------------------------------------------------------------------
Theme: Refugio de Gatos - Bootstrap Theme
Author: javier Caparo
------------------------------------------------------------------ */

// Your variable overrides the ones in bootstrap
$body-bg: #2ecc71;
$enable-gradients: true;

$theme-colors: (
  "info": #3498db,
  "success": #27ae60,
  "danger": #e74c3c
);


// Your personalize variable
$background-color-for-text: #34495e;
$my_font: 'Lato';

//MIXINs

@mixin myfont($selected_font) {
  font-family: $selected_font, sans-serif;
}


/* ----------------------------------------------------
	 General styles
------------------------------------------------------- */
body {
background: $body-bg; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, $body-bg , #3498db); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, $body-bg , #3498db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	font-family: 'Lato', sans-serif;
}

a {
	-webkit-transition: all .35s;
	transition: all .35s;
}


.wrapper {
  margin: 15px auto;
  width: 90%;
  max-width: 1480px;
  overflow: hidden;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	border-radius: 5px;
}

.navbar {
  background-color: #16a085
}
.hero h1 {
    @include myfont($my_font);
  color: #e74c3c;
}


.footer-copyright  a {
  color: $background-color-for-text;
}



  .adoption .md-pills .nav-link.active {
    color: #2ecc71;
    background-color: $background-color-for-text;
  }

  .adoption button.close {
    position: absolute;
    right: 0;
    z-index: 2;
    padding-right: 1rem;
    padding-top: .6rem;
  }


// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";
